div.box1 h4, h5 {display: inline-block;}
div.box1 h5 {margin-left: 30px;}
div.pets {border: solid black 2px;width: 700px; height: 700px; padding: 50px; }
div.header h4 {display: inline-block}
a {margin-left: 600px;}
.btn {margin-left: 450px;}
div.box1 {margin-bottom: 30px;}
