div.header, h1 {text-align: left;}
h1, a {display: inline-block; }
div.row1 a {margin-top: 50px; margin-left: 400px; }
.page {width: 700px; height: 700px; margin-top: 40px;} /* border: solid black 2px;  */